<main class="content clearfix">
    <article class="artigo">
        <header>
            <img class="post_image" src="/vendor/gabrielgil/timthumb/timthumb.php?src={$post_image}&w=1000&h=400&a=t"/>
            <h1 class="animated fadeIn delay-2s">{$post_title}</h1>
        </header>
        <main>
            <p><b>Publicado por:</b> {$post_author} em <time>{function="date('d/m/Y H:i:s',strtotime($post_date))"}</time></p>
            <a href="/">Home</a> | <a href="/category/{$cat_name}">{$cat_title}</a>
            {$post_text}
        </main>
        <footer>

        </footer>
    </article>
</main>