*{
    margin: 0;
    padding: 0;
    font-family: "Candara", verdana, sans-serif;
    box-sizing: border-box;
}

.clearfix::after, .clearfix::before{display:table; content: " ";}
.clearfix::after{clear: both;}
.font-zero{font-size: 0; float: left;}
.content{width: 90%; margin: 0 auto;}

.zoom { transition: transform .2s; /* Animation */}
.zoom:hover {transform: scale(1.1); z-index: 1; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */}

/*O BANNER ESTÃ OCULTO, PARA EXIBIR COMENTE A LINHA ABAIXO*/
#banner{display: none !important;}

img {max-width: 100%;}
h1 {font-size: 2.5em; font-weight: 300;}
h1 a {color: #F60; text-decoration: none;}
h1 a:hover {text-decoration: underline;}

body > header {background: #431F1F;}
body > header .content{padding: 20px 0;}
.header-logo{max-width: 140px; width: 30%; float: left;}
.header-banner{max-width: 850px; width: 70%; float: right;}

header nav {background: #F60; padding: 10px 0;}
.header-menu {width: 90%; margin: 0 auto;}
.header-menu .menu{float: left; list-style: none;}
.menu li {display: inline-block;}
.menu li a {text-decoration: none; padding: 8px 12px; display: inline-block; color: #FFF;}
.menu li a:hover {background: #431F1F;}
.header-menu .header-search {float: right;}
.header-search input { padding: 5px 8px; }
.header-search input[type="submit"]{border:0; background: #431F1F; color: #FFF; border-radius: 50px; cursor: pointer; padding: 8px 12px}

main {padding: 20px 0;}
.main-content{width: 60%; margin-right:5%; float: left;}
.destaque{position: relative;}
.destaque h1 {margin-top: 0;}
.destaque img{width: 100%;}
.destaque .tagline {width:100%; font-size: 1.5em; color: #fff; padding: 20px; text-shadow: 2px 2px 5px rgba(0,0,0, 0.8); position: absolute; bottom: 5px; background: rgba(0,0,0, 0.5);}

.last-news article {width: 32%; margin-right: 2%; float: left;}
.last-news article:nth-of-type(3n+0){margin-right: 0;}
.last-news article h1 {font-size: 1.2em;}

.barra-lateral {width: 35%; float: right;}
.barra-lateral .title-section {margin-top: 0; font-size: 2em; background: #431F1F; color: #FFF; padding: 10px;}
.mais-lidas article {padding-bottom: 20px;}
.mais-lidas img {width: 40%; border: 1px solid #333; padding: 2px; background: #e3e3e3; float: left; margin-right: 10px;}
.mais-lidas article h1{font-size: 1.2em; margin: 0;}

.barra-lateral .linha {margin-bottom: 20px;}

body > footer {background: #431F1F; padding: 20px; text-align: center; color: #FFF;}

article.artigo {width: 80%; margin: 0 auto;}
article.artigo header{position: relative; height: 400px;}
article.artigo header h1 {width:100%; color: #fff; padding: 20px; text-shadow: 2px 2px 5px rgba(0,0,0, 0.8); position: absolute; bottom: 0; background: rgba(0,0,0, 0.5); margin: 0;}
article.artigo main {padding: 20px;}
article.artigo .post_image {width: 100%; max-height: 400px; position: absolute; z-index: -1;}
article.artigo p {font-size: 1.2em; line-height: 1.5em; margin-bottom: 25px;}
article.artigo main img {display: block; margin: 0 auto 25px auto;}

.card {width: 25%; float: left; padding: 10px;}
.card:hover .card-body{background-color: rgb(250, 250, 250)}
.card-body {margin-top: -5px; border: 1px solid #e3e3e3; padding: 10px; text-align: center;}
.card-body p {color:#431F1F; font-size: 1.2em; line-height: 1.5em; margin-bottom: 25px; min-height: 86px; text-align: left;}
.card-imgage{position: relative;}
.card-imgage img {display: block; margin-bottom:10px;}
.card-date{background: rgba(67, 31, 31, 0.698); color: #FFF; position: absolute; padding: 10px;}
.card-body a.btn {background: #431F1F; color: #FFF; text-decoration:none;  padding: 8px 12px; display: inline-block;}

.pagination{list-style: none; text-align: center;}
.pagination li {display: inline-block;}
.pagination li a {text-decoration: none; display: block; font-size: 1.25em; width: 30px; height: 30px; border: 1px solid #431F1F; color: #431F1F}
.pagination li a:hover{background: #431F1F; color: #FFF;}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {  
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    
 }