*{
    margin: 0;
    padding: 0;
    font-family: "Candara", verdana, sans-serif;
    box-sizing: border-box;
}

.clearfix::after, .clearfix::before{display:table; content: " ";}
.clearfix::after{clear: both;}
.font-zero{font-size: 0; float: left;}
.content{width: 90%; margin: 0 auto;}

/*O BANNER ESTÃ OCULTO, PARA EXIBIR COMENTE A LINHA ABAIXO*/
#banner{display: none !important;}

img {max-width: 100%;}
h1 {font-size: 2.5em; font-weight: 300;}
h1 a {color: #F60; text-decoration: none;}
h1 a:hover {text-decoration: underline;}

body > header {background: #431F1F;}
body > header .content{padding: 20px 0;}
.header-logo{max-width: 140px; width: 30%; float: left;}
.header-banner{max-width: 850px; width: 70%; float: right;}

header nav {background: #F60; padding: 10px 0;}
.header-menu {width: 90%; margin: 0 auto;}
.header-menu .menu{float: left; list-style: none;}
.menu li {display: inline-block;}
.menu li a {text-decoration: none; padding: 8px 12px; display: inline-block; color: #FFF;}
.menu li a:hover {background: #431F1F;}
.header-menu .header-search {float: right;}
.header-search input { padding: 5px 8px; }
.header-search input[type="submit"]{border:0; background: #431F1F; color: #FFF; border-radius: 50px; cursor: pointer; padding: 8px 12px}

main {padding: 20px 0;}
.main-content{width: 60%; margin-right:5%; float: left;}
.destaque h1 {margin-top: 0;}
.destaque .tagline {color: #999;}

.last-news article {width: 32%; margin-right: 2%; float: left;}
.last-news article:nth-of-type(3n+0){margin-right: 0;}
.last-news article h1 {font-size: 1.2em;}

.barra-lateral {width: 35%; float: right;}
.barra-lateral .title-section {margin-top: 0; font-size: 2em; background: #431F1F; color: #FFF; padding: 10px;}
.mais-lidas article {padding-bottom: 20px;}
.mais-lidas img {width: 40%; border: 1px solid #333; padding: 2px; background: #e3e3e3; float: left; margin-right: 10px;}
.mais-lidas article h1{font-size: 1.2em; margin: 0;}

.barra-lateral .linha {margin-bottom: 20px;}

body > footer {background: #431F1F; padding: 20px; text-align: center; color: #FFF;}

article.artigo {width: 80%; margin: 0 auto;}
article.artigo p {font-size: 1.2em; line-height: 1.5em; margin-bottom: 25px;}
article.artigo img {display: block; margin: 0 auto 25px auto;}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
    .main-content {
        width: 100%;
        margin-right: 0%;
        float: none;
    }
    .barra-lateral {width: 100%; float: none;}
    
 }

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
    h1 {font-size: 2em;}
    .content{width: 95%;} 
    .header-logo{width: 100%; float: none;}
    .header-banner{width: 100%; float: none;}

    .last-news article {width: 49%; margin-bottom: 15px;}
    .last-news article:nth-of-type(2n+0){margin-right: 0;}

    .title-section {font-size: 1.65em !important;}

    .mais-lidas img{width: 100%; display: block; float: none;}
    
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {  }